click==6.6
feedparser==5.2.1
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
psycopg2==2.6.2
py-goldsberry==1.0.1
pymongo==3.3.1
pytz==2016.7
requests==2.11.1
six==1.10.0
Werkzeug==0.11.11
